body {
    display: flex;
    flex-direction: column;
	margin: 0;
	min-height: 100vh;
	font-family: sans-serif;
}

html {
  height: 100%;
}

header {
	padding: 25px 10px;
}

h1 {
	margin: 0;
}

/* Table layout */
.table-layout {
	/* border-collapse: collapse; */
	width: 100%;
}

.table-layout td {
	border: 2px solid rgb(77, 77, 77);
}

.logo {
	width: 400px;
}

.menu-link {
	text-align: center;
}

.table-sidebar {
	text-align: center;
	width: 100px;
}

.table-sidebar > img {
	display: block;
	margin: 0 auto;
}

.copyright {
	text-align: center;
}

/* Float layout */
.float-header {
	padding: 25px;
	background-color: rgb(247, 130, 109);
}

.float-header > p {
	margin: 0;
}

.float-main {
	width: 50%;
	float: left;
	background-color: rgb(238, 229, 98);
}

.float-sidebar {
	width: 50%;
	float: right;
	background-color: rgb(98, 198, 238);
}

.float-sidebar > img {
	width: 100px;
	float: left;
}

.float-footer {
	padding: 25px;
	clear: both;
	background-color: rgb(74, 218, 74);
}

/* Inline-block */
.inline-blocks {
	/* font-size: 0; */
}

.ib-block {
	width: 300px;
	height: 200px;
	display: inline-block;
	background-color: rgb(236, 74, 74);
}

.ib-text {
	/* font-size: 20px; */
}

.main-ib {
	display: inline-block;
	width: 69%;
	background-color: rgb(236, 74, 74);
}

.side-ib {
	display: inline-block;
	width: 30%;
	background-color: rgb(250, 240, 107);
}

.side-ib > img {
	/* width: 100%; */
}

/* Flex layout */
.flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 500px;
	background-color: rgb(250, 240, 107);
}

.flex-item {
	font-size: 14px;
	color: rgb(241, 241, 241);
	width: 200px;
	background-color: rgb(223, 71, 71);
}

.number {
	font-size: 30px;
}

.flex-body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header-content-wrpapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.site-header {
	background-color: rgb(247, 130, 109);
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-grow: 1;
}

.content-wrapper {
	flex: 2 1;
	min-width: 320px;
	padding: 1vw;
	background-color: rgb(238, 229, 98);
}

.main-sidebar {
	flex: 1 2;
	min-width: 170px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1vw;
	background-color: rgb(98, 198, 238);
}

.side-logo {
	max-width: 100%;
}

.site-footer {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	background-color: rgb(74, 218, 74);
}

/* Grid Layout */
.grid-wrapper {
	border: 20px solid rgb(240, 219, 126);
	display: grid;
	grid-template-columns: 200px 500px 200px;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-rows: 100px 500px 100px;
	grid-gap: 10px;
	background-color: rgb(240, 219, 126);
}

.grid-item {
	background-color: rgb(253, 253, 253);
}

.item-1 {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
}

.item-2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.item-3 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.item-4 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.item-5 {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

.page-grid-wrapper {
	/* display: grid; */
	grid-template-columns: 300px 1fr 300px;
	grid-auto-rows: auto;
	height: 100%;
	grid-template-areas: 
		"header header header"
		"main main sidebar"
		"footer footer footer";
}

.grid-header {
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	grid-area: header;
}

.grid-content {
	display: contents;
}

.grid-content-wrapper {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	grid-area: main;
	background-color: rgb(238, 229, 98);
}

.grid-sidebar {
	max-width: 300px;
	grid-row: 2 / 3;
	grid-column: 3 / 4;
	grid-area: sidebar;
	background-color: rgb(98, 198, 238);
}

.grid-footer {
	grid-row: 3 / 4;
	grid-column: 1 / 4;
	grid-area: footer;
	background-color: rgb(74, 218, 74);
}
