<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Эволюция раскладок</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/script.js"></script>
</head>
<body>
	<div class="page-grid-wrapper">
		<!-- <header class="grid-header site-header">
			<h1>Эволюция раскладок</h1>
			<nav>
				<a href="../index.html">таблицы</a>
				<a href="float.html">флоаты</a>
				<a href="inline-block.html">строчно-блочные</a>
				<a href="flex.html">флекс</a>
				<a href="">грид</a>
			</nav>
		</header> -->
		<div class="grid-wrapper">
			<div class="grid-item item-1"></div>
			<div class="grid-item item-2"></div>
			<div class="grid-item item-3"></div>
			<div class="grid-item item-4"></div>
			<div class="grid-item item-5">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio excepturi rerum totam aperiam consequuntur esse deleniti neque molestias ipsum laborum sequi impedit, ad fuga ipsam quae assumenda reprehenderit quaerat quisquam?
			</div>
		</div>
		<!-- <main class="grid-content">
				<div class="grid-content-wrapper">
					<h2>Lorem ipsum dolor sit amet.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
				</div>
				<aside class="grid-sidebar">
					<img class="side-logo" src="../images/layouts.jpg" alt="Лого">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint reiciendis voluptatem maiores, cumque quam modi officia quod reprehenderit perspiciatis iure? Reiciendis eius ut corrupti atque consectetur facilis, fuga dolorem debitis eveniet tenetur explicabo velit sunt exercitationem esse ipsum, quidem doloribus autem ipsa excepturi doloremque totam obcaecati maxime, libero nam? Facere magnam dicta placeat neque at, iusto totam sunt temporibus, ullam libero aperiam debitis incidunt quos doloribus excepturi unde reprehenderit ratione tenetur praesentium labore commodi. Soluta harum itaque laudantium ipsum impedit placeat necessitatibus temporibus! Quia aperiam dolor et ea impedit, repudiandae voluptatem sapiente rerum tempora nulla porro, repellendus, quidem veniam hic.</p>
				</aside>
			</main>
		<footer class="grid-footer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
		</footer> -->
	</div>
</body>
</html>