<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Строчно-блочный бокс - Эволюция раскладок</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/script.js"></script>
</head>
<body>
	<header>
		<h1>Эволюция раскладок</h1>
		<nav>
			<a href="../index.html">таблицы</a>
			<a href="float.html">флоаты</a>
			<a href="inline-block.html">строчно-блочные</a>
			<a href="flex.html">флекс</a>
			<a href="grid.html">грид</a>
		</nav>
	</header>
	<div class="inline-blocks">
		<div class="ib-block"></div>
		<div class="ib-block"></div>
		<div class="ib-block"></div>
		<p class="ib-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum autem et incidunt error, voluptatibus quaerat id repellendus fugiat iste repudiandae?</p>
	</div>
	<!-- <main>
		<div class="main-ib">
			<h2>Lorem ipsum dolor sit amet.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>	
		</div>
		<aside class="side-ib">
			<img src="../images/layouts.jpg" alt="Лого">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>	
		</aside>
	</main>	 -->
</body>
</html>