<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Таблицы - Эволюция раскладок</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<h1>Эволюция раскладок</h1>
		<nav>
			<a href="#" class="active-page">таблицы</a>
			<a href="pages/float.html">флоаты</a>
			<a href="pages/inline-block.html">строчно-блочные</a>
			<a href="pages/flex.html">флексбокс</a>
			<a href="pages/grid.html">гриды</a>
		</nav>
	</header>
	<h2>Раскладка таблицами</h2>
	<table class="table-layout">
		<tr>
			<td class="logo">
				<img src="images/layouts.jpg" alt="Логотип" width="178" height="auto">
			</td>
			<td class="menu-link">
				<a href="">Главная</a>
			</td>
			<td class="menu-link">
				<a href="">Услуги</a>
			</td>
			<td class="menu-link">
				<a href="">О нас</a>
			</td>
		</tr>
		<tr>
			<td class="table-main" colspan="3">
				<h2>Lorem ipsum dolor sit amet.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic eos aliquam amet earum dicta quas aliquid possimus voluptatem a dolor officiis magnam numquam reprehenderit sed illum animi, excepturi consequatur?</p>
			</td>
			<td class="table-sidebar" colspan="3">
				<img src="images/layouts.jpg" alt="лого практики" width="100" height="auto">
				<img src="images/layouts.jpg" alt="лого практики" width="100" height="auto">
				<img src="images/layouts.jpg" alt="лого практики" width="100" height="auto">
				<img src="images/layouts.jpg" alt="лого практики" width="100" height="auto">
				<img src="images/layouts.jpg" alt="лого практики" width="100" height="auto">
			</td>
		</tr>
		<tr class="table-footer">
			<td class="copyright" colspan="4">копирайт</td>
		</tr>
	</table>
</body>
</html>